body {
    font-family: 'Roboto', sans-serif;
}
.header_decor {
    background-color: #8fd289;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.header_navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.menu_wrapper {
    display: flex;
    flex: 0 0 60%;
    justify-content: flex-end;
}
.menu_item {
    font-size: 20px;
    margin-left: 20px;
    padding-left: 5px;
}
.menu_item:hover {
    color: #3ba724;
}
.header_action {
    background-color: #8fd289;
    padding: 20px 0;
}
.header_action .container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}
.catalog {
    font-size: 20px;

}
.search_input {
    flex: 0 0 30%;
    font-size: 18px;
    height: 40px;

}
.basket {
    display: flex;
    align-items: center;
}
.basket_wrapper {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    position: relative;
}
.basket_wrapper img {
    width: 100%;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;    
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main_item {
    margin: 30px;
    padding: 30px;
    flex: 0 0 16.6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.main_item:hover {
    background-color: #f8f8f8;
    border-radius: 5px;
}
.item_img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.item_img img {
    width: 100%;
}
.item_title {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
}
.price_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 20px;
}
.price_wrapper .basket_wrapper {
    width: 36px;
    height: 36px;
    background-color: #8fd289;
    border-radius: 5px;
    border: 1px solid #3ba724;
    padding: 5px;
}
.item_price {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}
.item_pay-container {
    display: flex;
    justify-content: center;
}
.pay_item {
    width: 50px;
    height: 50px;
    background: rgba(192, 192, 192, 0.6);
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.pay_part {
    position: absolute;
    bottom: 0;
    right: 2px;
    font-size: 14px;
}
.pay_item:hover {
    background-color: #8fd289;
}
.pay_item:not(:last-child) {
    margin-right: 10px;
} 
.pay_item img {
    width: 100%;
}
.modal, .modal_basket {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}
.modal_window, .basket_window {
    background-color: #fefefe;
    padding: 120px;
    border: 1px solid #888;
    width: 60%; 
    display: flex;
    justify-content: center;
    position: relative;
}
.credit_info {
    margin-left: 50px;
    border: 1px solid black;
    padding: 10px;
    flex: 0 0 70%;
}
.credit_title, .basket_title {
    font-size: 26px;
    margin-bottom: 20px;
}
.credit_content p {
    margin-bottom: 10px;
    font-size: 18px;
}
.monthlyPayment, .final_price, .payments {
    background-color: #8fd289;
    padding: 3px;
    color: #fff;
}
.btnClose, .btnCloseModal {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 10;
    top: 50px;
    right: 50px;
}
.btnClose img, .btnCloseModal img, .deleteItem img {
    width: 100%;
}
.credit_form {
    border: 2px solid #3ba724;
    padding: 20px;
    background-color: rgba(143,210,137, 0.2);
}
.credit_form .credit_title {
    font-size: 20px;
    text-align: center;
}
.form_order {
    display: flex;
    flex-direction: column;
}
.form_order label {
    font-size: 15px;
    margin-top: 10px;
    
}
.btn_send, .btnOrderBasket {
    font-size: 17px;
    padding: 5px 20px;
    background-color: #3ba724;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 30%;
    margin-top: 10px;
}
.main_basket {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: orange;
    border-radius: 50%;
    padding: 5px;
    display: none;
    width: 25px;
    height: 25px;
    text-align: center;
    content: '';
    font-size: 14px;
}
.basket_item-box {
    width: 100px;
    height: 100px;
}
.basket_item-box img {
    width: 100%;
}
.basket_item {
    display: flex;
    align-items: center;
}
.basket_window {
    flex-direction: column;
}
.basket_title, .basket_item {
    margin-bottom: 50px;
}
.basket_item-title {
    position: relative;
}
.deleteItem {
    position: absolute;
    z-index: 10;
    top: 100;
    right: 100px;
    width: 36px;
    height: 36px;
    background: transparent;
    border: none;
    display: none;
}
.basket_container {
    width: 100%;
}
.basket_container:hover .deleteItem {
    display: block;
}

@media (max-width: 1250px) {
    .modal_window {
        width: 80%;
    }    
    .monthlyPayment, .final_price, .payments {
        padding: 0px;
    }
}
@media (max-width: 1000px) {
    .modal_window {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 80px;
    }
    .item_info {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .credit_info {
        margin-left: 0;
    }
}
@media (max-width: 800px) {
    .modal_window {
        width: 90%;
        padding: 50px;
    } 

}
@media (max-width: 600px) {
    .container {
        font-size: 28px;
    }
    .logo {
        margin-bottom: 10px;
    }
    .header_navigation {
        flex-direction: column;
        align-items: center;

    }
    .menu_item {
        margin-left: 0;
        padding-left: 0;
    }
    .menu_item:not(:last-child) {
        margin-right: 10px;
    }
    .header_action .container {
        flex-direction: column;
    }
    .search_input {
        margin: 10px 0;
    }
    .btnClose {
        top: 10px;
        right: 10px;
    }
}
@media (max-width: 500px) {
    .modal_window {
        padding: 20px 0;
    } 
    .credit_info {
        border: none;
    }
    .menu_item, .item_title {
        font-size: 14px;
    }
    .btnClose {
        top: 0px;
        right: 0px;
    }
}